.container__team {
    position: relative;
    text-align: center;
    padding: 32px;

    background-image: url("/src/img/fundo.png");
    background-size: contain;
}

.team__selectColor {
    position: absolute;
    top: 20px;
    right: 50px;
}

.team__title {
    display: inline-block;
    padding-bottom: 12px;
    font-size: 28px;

}

.content__collaborators {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 32px;
}