.container__footer {
    height: 213px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-image: url(../../img/rodape.png);
    background-color: #6278F7;
    color: #fff;
}

.medias__list {
    width: 163px;
    padding: 0;
    
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

.footer__medias img {
    width: 28px;
    height: 29px;
    cursor: pointer;
}

.footer__credits {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
}

.footer__credits a {
    color: #fff;
}