.field__label {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
}

.field__input {
    width: 97%;
    margin: 8px 0 28px 0;
    padding: 1rem 0 1rem 1rem;
    color: #A4A4A4;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border-radius: 0px;

    outline: 1px solid transparent;
}

.input__color {
    padding: 2px 10px;
}